*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #000;
}

nav{
    background-color: #000;
    width: 100%;
    height: 9em;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 2em;
}
a{ 
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: #F25C05;

}
.logo{
    width: 400x;
    height: 400px;
}
.imagem{
    
    width: 100%;
    height: 800px;
}
main{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: #F25C05;
    font-size: 65px;
    text-decoration: underline;
}
 /*Estilização do calculo de IMC*/
.imc{
    text-align: left;
    padding-top: 1em;
    color: #F25C05;
}
.calc-imc {
	padding: 1em;
	box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
	background-color: #364959;
    justify-content: center;
    align-items: center;
}
#calculo{
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;   
}
@media (min-width: 500px) {
	.calc-imc {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 500px;
		width: 100%;
		padding: 1em;
	}
}

.calc-imc h1 {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.3em;
}

.form label,
.form button {
	margin-top: 1em;
}

.form input,
.form button {
	font-size: inherit;
	font-family: inherit;
	width: 100%;
	padding: 0.5em;
}

.form button {
	background-color: #FBEFFF;
	cursor: pointer;
	border-radius: 0.3em;
	width: 50%;
}

.form button:hover {
	filter: opacity(0.8);
}

.form button:active {
	background-color: #FFEFFF;
	color: #000;
	filter: opacity(0.8);
}

.texto{
    width: 100%;
    height: 25vh;
    padding-top: 2em ;
    position: absolute;
    text-align: center;
    top:100px;
    color: #F25C05;
    padding-top: 300px
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: #F25C05;
    font-size: 29px;
    
}
footer{
    width: 100vw;
    height: 40%;
    border: solid;
    background-color: #000;
}
.banner{
    display: flex;
    width: 100vw;
    height: 100vh;
     background-color: #081826;
    
}
.rodape{
    width: 100%;
    height: 200px;
}
.logo{
    width: 300px;
    background-color: #000;
    height: 100px;
}

/*Onde estamos*/

#container{
    display:inline-block;
    width: 100vw ;
    flex-direction: row;
    background-color: #000;
    text-align: center;

}
.card{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #F25C05;
    border: solid 1px;
    margin: 25px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    
    
}
.texto-local{
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
}
.btn{
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    
}
 /*promoções*/

 .promo{
    display: inline-block;
    width: 400px;
    height: 500px;
    background-color: #F25C05;
    border: solid 1px;
    margin: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 90px;
 }
#planos{
    display:inline-block;
    width: 100vw ;
    flex-direction: row;
    background-color: #000;
}
.text-promo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #000;
}

/*profissionais*/
#profissionais{
    display:inline-block;
    width: 100vw ;
    flex-direction: row;
    background-color: #000;
    text-align: center;
}
.card-profissionais{
    display: inline-block;
    width: 400px;
    height: 300px;
    background-color: #F25C05;
    border: solid 1px;
    margin: 25px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.img-perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/*contatos*/
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F25C05;
    margin-top: 4.5em;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F25C05;
    padding: 1em;
    margin-bottom: 1em;
    width: 30em;
    box-shadow: 0 3px 10px #1c1c1c20;
    border-radius: .5em;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #000;
    margin: 1rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #F25C05;
    margin: 1rem;  
}
h4{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #000;
    margin: 1rem; 
}
.legend{
    font-size: 1.5rem;
    margin-left: 1em;
}
.secao{
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}
#local{
    display: none;
    flex-direction: column;
    padding: 1rem;
    margin: 0 auto 2em auto;
    width: 16.5em;
    border: 2px solid #00D4FF;
    border-radius: 1em;
}

/*INPUTS*/
input, select{
    position: relative;
    background: #D8D6FF;
    margin: 0 .2em;
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid rgba(2, 0, 36, .40);
}
input:focus, select:focus{
    border-bottom: 2px solid #090979;
    outline: none;
}
input::placeholder{
    color: rgba(9, 9, 121, .45);
    padding-left: .2rem;
}
/*INPUTS - FIELDSET*/
#local label, #estados label{
    display: inline-block;
    text-align: left;
    padding: .5rem;
}
#local input, #estados{
    display: inline-block;
    padding: .5rem;
}
#estados{
    height: 2rem;
}

p.erro{
    position: relative;
    font-size: 1rem;
    text-align: right;
    color: red;
    z-index: 1000;
}
.template{
    visibility: hidden;
}

.abbr{
    position: relative;
    color: #020024d0;
    font-size: .8rem;
    top: -.4rem;
    left: -.8rem;
}
#botaoCep{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -.5rem;
    font-size: .8rem;
    color: #090979;
    margin: .5em;
}
#Ncep, .Ncep{
    display: block;
    margin: 0 .25rem;
    cursor: pointer;
}
.buscar{
    display: none;
    justify-content: center;
    margin: 0 auto;
}
#buscar{
    background: #00D4FF;
    font-weight: 600;
    margin: 1em;
    height: 3em;
    width: 7.5em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}
#enviar{
    background: #F27405;;
    font-weight: 600;
    margin: 1em auto;
    height: 2.7em;
    width: 5em;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

